.wrapper_login {
	width: 300px;
}

.form {
	gap: 10px;
	display: flex;
	flex-direction: column;
}

.input_form {
	margin-top: 2px;
	border: none;
	background-color: #e8e8e8;
	border-radius: 10px;
	padding: 10px;
	outline: none;
	&_block {
		display: flex;
		flex-direction: column;
		.error {
			color: #f70c0c;
		}
	}
}

.login_btn {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 15px;
	text-align: center;
	a {
		margin-top: 5px;
		color: blue;
	}
}
