.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100vh;
}
.greeting_block {
	width: 250px;
}

.button {
	border: none;
	background-color: #046cdb;
	padding: 8px 12px;
	border-radius: 15px;
	color: #ffff;
	cursor: pointer;
	&:hover {
		background-color: #0069d9;
	}
	&_block {
		display: flex;
		justify-content: space-around;
		font-style: 500;
	}
}
